modules/http-policy/src/main/resources/META-INF/mule-http-policy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/http-policy"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/http-policy"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" />

    <xsd:annotation>
        <xsd:documentation>
            Mule Utilities for HTTP Services.
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>HTTP Policies</schemadoc:short-name>
            <schemadoc:page-title>HTTP Policies Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="policy" type="httpPolicyType" substitutionGroup="mule:abstract-shared-extension"/>

    <xsd:complexType name="httpPolicyType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractExtensionType">
                <xsd:sequence>
                    <xsd:element name="source" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="source-pre" minOccurs="0" maxOccurs="1">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                                                <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor"/>
                                            </xsd:choice>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="source-post" minOccurs="0" maxOccurs="1">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                                                <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor"/>
                                            </xsd:choice>
                                            <xsd:element name="response-modifier" minOccurs="0" maxOccurs="1">
                                                <xsd:complexType>
                                                    <xsd:sequence>
                                                        <xsd:element name="add-header">
                                                            <xsd:complexType>
                                                                <xsd:attribute name="header"/>
                                                                <xsd:attribute name="value"/>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                    </xsd:sequence>
                                                </xsd:complexType>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="request" minOccurs="0" maxOccurs="1">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="request-pre" minOccurs="0" maxOccurs="1">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                                                <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor"/>
                                                <xsd:element name="response">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            An outbound endpoint
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor" maxOccurs="unbounded"/>
                                                    </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="request-modifier">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="add-header">
                                                                <xsd:complexType>
                                                                    <xsd:attribute name="header"/>
                                                                    <xsd:attribute name="value"/>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:choice>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="request-post" minOccurs="0" maxOccurs="1">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                                                <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor"/>
                                                <xsd:element name="response">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            An outbound endpoint
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:group ref="mule:messageProcessorOrMixedContentMessageProcessor" maxOccurs="unbounded"/>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:choice>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>